/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* VARIABLES */
:root {
  --primary-lightver-color: #2e2b26;
  --primary-color: #ffffff;
  --secondary-color: #ababab;
  --gray3-color: #ababab;
  --gray2-color: #808080;
  --gray1-color: #6b6b6b;
  --bg2-color: #575757;
  --bg1-color: #424242;
  --bg0-color: #2e2e2e;
  --headline1: 700 40px/48px  'Inter', sans-serif;
  --headline3: 700 20px/28px 'Inter', sans-serif;
  --headline4: 700 18px/24px 'Inter', sans-serif;
  --body: 400 18px/26px 'Inter', sans-serif;
  --caption: 400 16px/24px 'Inter', sans-serif;
  --button: 400 14px/20px 'Inter', sans-serif;
  --max-widht: 1180px;
}


/* RESET */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--primary-lightver-colorcolor);
}

a {
  text-decoration: none;
  color: var(--primary-lightver-color-color);
}

/* NAVBAR */
.navbar {
  background-color: var(--bg0-color);
  box-shadow: 0 3px 8px 0 var(--gray2-color);
}

.navbar-content {
  max-width: var(--max-widht);
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font: var(--headline3);
  letter-spacing: -2%;
  color: var(--primary-color);
}

.menu {
  font: var(--caption);
  letter-spacing: 0%;
  list-style-type: none;
  display: flex;
  justify-self: center;
  align-items: center;
}

.menu-item a {
  display: inline-block;
  margin-left: 36px;
  color: var(--primary-color);
}

.menu-item a:hover {
  text-decoration: underline;
  color: var(--primary-color)
}

/* MAIN */
.wrapper {
  max-width: var(--max-widht);
  margin: auto;
  overflow: hidden;
}

.pictures {
  margin-top: 72px;
  margin-bottom: 48px;
}

.pictures-title {
  font: var(--body);
  letter-spacing: -1.4%;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.pictures-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
}

.picture-card .picture {
  width: 435px;
  height: 435px;
  border: 1px solid var(--gray3-color);
  margin-bottom: 12px;
}

.picture-card .picture img {
  width: 100%;
}

.picture-card h3 {
  font: var(--caption);
  text-transform: uppercase;
}

.picture-card p {
  font: var(--button);
  text-transform: uppercase;
}

.watches {
  margin-top: 48px;
  margin-bottom: 48px;
}

.watches-title {
  font: var(--body);
  letter-spacing: -1.4%;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.watches-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 36px;
}

.watch-card .watch {
  width: 280px;
  height: 280px;
  border: 1px solid var(--gray3-color);
  margin-bottom: 12px;
}

.watch-card .watch img {
  width: 100%;
}

.watch-card h3 {
  font: var(--caption);
  text-transform: capitalize;
}

.watch-card p {
  font: var(--button);
  text-transform: uppercase;
}

/* tees */
.clothing {
  margin-top: 48px;
  margin-bottom: 48px;
}

.clothing-title {
  font: var(--body);
  letter-spacing: -1.4%;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.clothing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 36px;
}

.clothes-card-image {
  width: 204px;
  height: 204px;
  border: 1px solid var(--gray3-color);
  margin-bottom: 12px;
}

.clothes-card-image img {
  width: 100%;
}

.clothes-card h3 {
  font: var(--caption);
  text-transform: capitalize;
}

.clothes-card p {
  font: var(--button);
  text-transform: uppercase;
}



